@using WebApplication1.Models;

@model Kullanıcı
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Giris</title>
</head>
<body>
    <div>
        <h1>@DataBase.GirisKontrol(Model)</h1 >
    </div>
</body>
</html>
